body{
    padding:4px;
}
.container-fluid{
    padding: 6px;
    background-color:teal;
    
}
.container{
    padding-top: 100px;
    text-align: left;
    font-size:large;
    font-style: italic;
    color: gainsboro;
   

}
header img{
    float: right;

}
H1{
    color: brown;
    font-style: italic;
    font-size: medium;
}

