body{
    padding:4px;
}
.container-fluid{
    padding: 6px;
    background-color:rgb(2, 59, 59);

}
.container{
    padding-top: 100px;
    text-align: left;
    font-size:large;
    font-style: italic;
    color:white;
   

}
header img{
    float: right;

}
H1{
    color: brown;
    font-style: italic;
    font-size: medium;
}
.main_box{
    background-color:goldenrod;
    padding-bottom: 15px;
    border-radius: 5px white;
}
.aboutme{
    background-color: rgb(2, 59, 59);
    color:black;
}
.aboutme p {
    font-weight: 300;
}